
*.xml

*.log

statusDashboardTool.xcworkspace/xcuserdata/zdenekmacicek.xcuserdatad/UserInterfaceState.xcuserstate

statusDashboardTool.xcworkspace/xcuserdata/zdenekmacicek.xcuserdatad/UserInterfaceState.xcuserstate

platformMonitoringDashboard/conf/user.cfg

*.xcuserstate
