
*.xml

*.log

*.xcworkspacedata

*xcworkspace*

*user.cfg

*.xcuserstate

*.backup.sh

*.xcuserstate

*xcuser*

*.xcuserstate

*.css

*.png

*.jpeg

*.html

*.js

statusDashboardTool.xcworkspace/contents.xcworkspacedata

statusDashboardTool.xcworkspace/xcuserdata/zdenekmacicek.xcuserdatad/UserInterfaceState.xcuserstate

statusDashboardTool.xcworkspace/contents.xcworkspacedata
